<!doctype html>
<html lang="en">
<head>
{% include site-head.html %}
</head>
<body class="sub">
{% include site-nav.html solid=true %}
{% capture here %}{{ page.url | remove: 'index.html' }}{% endcapture %}
<header class="page-head{% if here contains '/blogs/' and here != '/blogs/' %} slim{% endif %}">
  <div class="wrap">
    {% if here contains '/blogs/' and here != '/blogs/' %}
    <a class="crumb" href="/blogs/"><span>←</span> Writing</a>
    {% else %}
    <a class="crumb" href="/"><span>←</span> Lizhan Hong</a>
    {% endif %}
    {% unless here contains '/blogs/' and here != '/blogs/' %}<h1>{{ page.title }}</h1>{% endunless %}
  </div>
</header>
<main class="page-main" id="main">
  <div class="wrap">
    <article class="prose">
      {{ content }}
    </article>
  </div>
</main>
{% include site-footer.html %}
<script src="/assets/js/site.js" defer></script>
</body>
</html>
